<div class="product-list">
  <mat-card class="mat-card" *ngFor="let product of products">
    <img mat-card-image [src]="product.product_imageUrl" alt="Sample Image" />
    <mat-card-title class="title">{{ product.product_title }}</mat-card-title>
    <mat-card-content>
      <div
        style="
          width: 240px;
          height: 70px;

          overflow: hidden;
          box-sizing: border-box;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: normal;
        "
      >
        <p style="margin: 0px; margin-top: 5px; font-size: 15px; color: gray">
          {{ product.product_description }}
        </p>
      </div>

      <div
        style="
          width: 240px;
          height: 40px;

          overflow: hidden;
          box-sizing: border-box;
          word-wrap: break-word;
          overflow-wrap: break-word;
          white-space: normal;
          color: darkslategray;
          padding-top: 5px;
          font-size: 25px;
          font-weight: bold;
        "
      >
        ₹ {{ product.product_price }}
      </div>

      <hr />
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        style="background-color: #2a55e5; color: white"
      >
        Buy Now
      </button>
      <button
        mat-button
        color="warn"
        style="margin-left: auto; background-color: #ff9f00; color: white"
      >
        Add to Cart
      </button>
    </mat-card-actions>
  </mat-card>
</div>
