.container {
  /* display: flex; */
  height: auto;
  width: 100%;
  /* overflow: hidden; */
  /* background-color: red; */
}

.navbar {
  height: 6.5%;
  width: 100%;

  /* background-color: red; */
}

.matTool {
  background-color: #bde0fe;
  /* background-color: #eaeaea; */
  /* position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000; */
  /* background-color: linear-gradient(to right, #1f3f77, #2a55e5); */
}

.websiteHeading {
  font-size: 35px;
  font-weight: bold;
  color: #2a55e5;
  padding-bottom: 5px;
  cursor: pointer;
  text-decoration: none;
}

.userProfile {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: 60px;
  width: 600px;
  margin-left: auto;
  /* background-color: red; */
  box-sizing: border-box;
  padding-top: 5px;
}

.userPhoto {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: skyblue;
  overflow: hidden;
}

.userName {
  height: 50px;
  width: 150px;
  /* background-color: blue; */
  margin-right: 5px;
  box-sizing: border-box;
  font-style: italic;
}

p {
  margin: 0px;
}

#welcome {
  font-size: 18px;
  color: #606366;
}

#nameOfUser {
  font-size: 15px;
  font-style: italic;
  color: #606366;
  /* text-align: right; */
}

.dashboard {
  height: 92%;
  padding-top: 20px;
  width: 100%;
}

.dashboard-content {
  /* display: flex; */
  height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* border-left: 1px solid black;
    border-right: 1px solid black; */
  /* box-sizing: border-box; */
  /* overflow-y: scroll; */
}

.advertise {
  width: 98%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.menu {
  display: flex;
  /* font-style: italic; */
  /* padding: 20px; */
  padding-top: 12px;
  height: 50px;
  width: 80px;
  color: #606366;
  /* background-color: green; */
  box-sizing: border-box;
  margin-right: 50px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.matSteper {
  background-color: white;
}

.product-list-container {
  height: auto;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: blue; */
  margin-top: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.mat-card {
  /* background-color: white; */
  border: 1px solid gray;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding: 25px;
  /* box-shadow: 0 10px 20px rgba(0, 183, 255, 0.733); Adds depth */
}

.mat-card:hover {
  transform: scale(1.1); /* Pop-up effect */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adds depth */
}
